.navbar {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar ul { 
  display: inline-table;
}
.navbar li { display: inline;}
/* Apply background color and center elements */
body {
    background-color: orange;
    display: flex;
}

/*Style main*/
  main {
    text-align: center;
    margin-left: 300px;
  }

  /* style h1*/
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: crimson;
  }
  /* Style the unordered list */
  ul {
    list-style-type: none; /* Remove the bullet points */
    display: inline-flex; /* Display the items inline */
    justify-content: center; /* Center the items horizontally */
    margin: 0;
    padding: 0;
  }
  
  /* Style the links within the unordered list */
  ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  img {
    width:  300px;
    height: 300px;
    padding-left: 20px;
}